---
import Layout from '../layouts/Layout.astro';
---
<Layout>
  <section class="container mx-auto p-4">
    <h1 class="text-3xl font-bold text-center">
      Bienvenido a SolutionsArchitectureAcademy
    </h1>
    <p class="mt-4 text-lg text-center">
      Este es un sitio desarrollado con Astro y Tailwind CSS.
    </p>
  </section>
</Layout>